@use "../helpers/media" as *;

.catalog {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  scroll-margin-top: 20px;

  @include tablet {
    justify-self: center;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      align-items: initial;
      row-gap: 20px;
    }
  }

  &__product-list {
    @include mobile {
      justify-items: center;
    }
  }

  &__tabs-list {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

}
