@use "../helpers/media" as *;
@use "../helpers/mixins" as *;

.footer {
  margin-top: var(--section-padding-y);
  padding-block: 23px;
  background-color: var(--color-background);

  &__body {
    display: flex;
    // align-items: center;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      row-gap: 30px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 35px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    @include mobile {
      flex-direction: column;
    }
  }


  &__socials-menu-wrapper {
    display: flex;
    column-gap: 250px;

    @include desktop {
      column-gap: 60px;
      // justify-content: space-between;
    }

    @include tablet {
      column-gap: 0;
      justify-content: space-between;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;

    &-telnumber {
      font-size: 20px;
    }

    &-place-link {
      @include fluid-text(18, 16);

      color: var(--color-gray);

      @include hover {
        color: var(--color-accent);
      }
    }
  }

  &__menu {
    display: flex;
    column-gap: 60px;
    // align-items: flex-start;

    &-title {
      font-size: 20px;
    }

    &-list-reproductions,
    &-list-new,
    &-list-about-us {
      display: flex;
      flex-direction: column;
      row-gap: 6px;
    }

    &-item-reproductions,
    &-item-new,
    &-item-about-us {
      @include fluid-text(18, 16);

      color: var(--color-gray);

      @include hover {
        color: var(--color-accent);
      }
    }

    @include mobile {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }

  &__socials {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    @include mobile {
      align-items: center;
    }

    &-list {
      display: flex;
      column-gap: 30px;
      align-items: center;

      @include mobile {
        justify-content: center;
      }
    }

    &-item {
      @include hover {
        color: var(--color-accent);
      }
    }

    &-rights {
      p {
        margin: 0;
      }

      display: flex;
      flex-direction: column;
      row-gap: 6px;
      font-size: 12px;
      color: var(--color-gray);

      @include mobile {
        flex-direction: row;
        column-gap: 6px;
      }
    }
  }

  &__line {
    margin-block: 16px;
    color: #c3d1c6;
    background-color: #c3d1c6;
  }
}
